#visual {
  width: 80%;
  height: 400px;
  margin: 0 10%;
}

#visual .sky {
  fill: skyblue;
}

#visual #sky {
  width: 1000;
  height: 1000;
}

#visual #ground {
  fill: darkolivegreen;
  height: 500;
  width: 1000;
}

#visual #flow-area {
  fill: white;
  height: 250;
}

#visual #water {
  fill: blue;
}

#visual #winter-dyke-left {
  fill: darkolivegreen;
  height: 590;
  width: 30;
}

#visual #winter-dyke-right {
  fill: darkolivegreen;
  height: 590;
  width: 30;
}

#visual #summer-dyke-left {
  fill: darkolivegreen;
  height: 540;
  width: 20;
}

#visual #summer-dyke-right {
  fill: darkolivegreen;
  height: 540;
  width: 20;
}
#visual #reference-height {
  stroke:white;
  stroke-width: 3;
  stroke-dasharray:5;
}